# Tobig's 14기 2주차 Optimization 과제
### Made by 이지용

# Gradient Descent 구현하기

### 1) "..." 표시되어 있는 빈 칸을 채워주세요  
### 2) 강의내용과 코드에 대해 공부한 내용을 적어서 과제를 채워주세요

In [ ]:
pip install -U scikit-learn

Requirement already up-to-date: scikit-learn in c:\users\eunju\anaconda3\lib\site-packages (0.23.1)
Requirement already satisfied, skipping upgrade: scipy>=0.19.1 in c:\users\eunju\anaconda3\lib\site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in c:\users\eunju\anaconda3\lib\site-packages (from scikit-learn) (0.13.2)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\users\eunju\anaconda3\lib\site-packages (from scikit-learn) (1.16.5)
Requirement already satisfied, skipping upgrade: threadpoolctl>=2.0.0 in c:\users\eunju\anaconda3\lib\site-packages (from scikit-learn) (2.1.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
import pandas as pd
import numpy as np
import random

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/My Drive/투빅스/2주차/assignment_2.csv')
data.head()

   Label  bias  experience  salary
0      1     1         0.7   48000
1      0     1         1.9   48000
2      1     1         2.5   60000
3      0     1         4.2   63000
4      0     1         6.0   76000

In [ ]:
data.iloc[:, 1:]

     bias  experience  salary
0       1         0.7   48000
1       1         1.9   48000
2       1         2.5   60000
3       1         4.2   63000
4       1         6.0   76000
..    ...         ...     ...
195     1         6.5   84000
196     1         6.9   73000
197     1         5.1   72000
198     1         9.1   69000
199     1         9.8   79000

[200 rows x 3 columns]

In [ ]:
data.iloc[:, 0]

0      1
1      0
2      1
3      0
4      0
      ..
195    0
196    0
197    0
198    1
199    1
Name: Label, Length: 200, dtype: int64

## Train Test 데이터 나누기
### 데이터셋을 train/test로 나눠주는 메소드  
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data.iloc[:, 1:], data.iloc[:, 0], test_size=0.25, random_state = 0)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((150, 3), (50, 3), (150,), (50,))

## Scaling  

experience와 salary의 단위, 평균, 분산이 크게 차이나므로 scaler를 사용해 단위를 맞춰줍니다.

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
bias_train = X_train["bias"]
bias_train = bias_train.reset_index()["bias"]
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X_train.columns)
X_train["bias"] = bias_train
X_train.head()

   bias  experience    salary
0     1    0.187893 -1.143335
1     1    1.185555  0.043974
2     1   -0.310938 -0.351795
3     1   -1.629277 -1.341220
4     1   -1.308600  0.043974

이때 scaler는 X_train에 fit 해주시고, fit한 scaler를 X_test에 적용시켜줍니다.  
똑같이 X_test에다 fit하면 안돼요! # 이게 무슨말인지 잘이해가 안간다..

In [ ]:
bias_test = X_test["bias"]
bias_test = bias_test.reset_index()["bias"]
X_test = pd.DataFrame(scaler.transform(X_test), columns = X_test.columns)
X_test["bias"] = bias_test
X_test.head()

   bias  experience    salary
0     1   -1.344231 -0.615642
1     1    0.508570  0.307821
2     1   -0.310938  0.571667
3     1    1.363709  1.956862
4     1   -0.987923 -0.747565

In [ ]:
# parameter 개수
N = len(X_train.loc[0])

In [ ]:
# 초기 parameter들을 임의로 설정해줍니다.
parameters = np.array([random.random() for i in range(N)])
parameters

array([0.68733039, 0.06861908, 0.16804787])

### * LaTeX   

Jupyter Notebook은 LaTeX 문법으로 수식 입력을 지원하고 있습니다.  
http://triki.net/apps/3466  
https://jjycjnmath.tistory.com/117

In [ ]:
def sigmoid(x):
    return 1/(1-np.exp(-x))
    
def loss_func(x, t):
    delta = 1e-7
    z=np.dot(x, w)+b:
    y=sigmoid(z)
    
    return -np.sum(t**np.log(y+delta)+(1-t)*np.log((1-y)+delta))

## Logistic Function

## $p = "\frac{1}{1 + e^{-(\hat{\beta_0}+\hat{\beta_1}x_1+...+\hat{\beta_k}x_k)}}"$

In [ ]:
def logistic(X, parameters):
    z = 0
    for i in range(len(parameters)) :
        z += parameters[i]*X[i]
    p = 1/(1+np.exp(-z))
    
    return p

In [ ]:
logistic(X_train.iloc[1], parameters)

0.6848329024238922

## Object Function

Object Function : 목적함수는 Gradient Descent를 통해 최적화 하고자 하는 함수입니다.  
로지스틱 회귀의 목적함수를 작성해주세요
## $l(p) ="-\sum[{(y_i)logp+(1-y_i)log(1-p)}]"$

In [ ]:
def minus_log_cross_entropy_i(X, y, parameters) :
  p = logistic(X, parameters)    
  loss = -{y*log(p)+(1-y)*log(1-p)}
  return loss

In [ ]:
def minus_log_cross_entropy(X_set, y_set, parameters) :
    loss = 0
    for i in range(X_set.shape[0]):
        X = X_set.iloc[i, :]
        y = y_set.iloc[i]
        loss += minus_log_cross_entropy_i
    return loss

In [ ]:
minus_log_cross_entropy(X_test, y_test, parameters)

IndexError: ignored

## Gradient of Minus Log Cross Entropy

## ${\partial\over{\partial \theta_j}}l(p)= "-\sum[(y_i-p_i)x_{ij}]"$

In [ ]:
# cross_entropy를 theta_j에 대해 미분한 값을 구하는 함수
def get_gradient_ij_minus_log_cross_entropy(X, y, parameters, j):
    p = logistic(X, parameters)
    gradient = diff()
    return "..."

In [ ]:
get_gradient_ij_minus_log_cross_entropy(X_train.iloc[0, :], y_train.iloc[0], parameters, 1)

## Batch Gradient Descent  

Batch Gradient Descent : "..."

In [ ]:
def get_gradients_bgd(X_train, y_train, parameters) :
    gradients = [0 for i in range(len(parameters))]
    
    for i in range("..."):
        X = X_train.iloc[i, :]
        y = y_train.iloc[i]
        for j in range(len(parameters)):
            gradients[j] += "..."
            
    return "..."

In [ ]:
gradients_bgd = get_gradients_bgd(X_train, y_train, parameters)
gradients_bgd

## Stochastic Gradient Descent  

Stochastic Gradient Descent : "..."

In [ ]:
def get_gradients_sgd(X_train, y, parameters) :
    gradients = [0 for i in range(len(parameters))]
    r = int(random.random()*"...")
    X = X_train.iloc[r, :]
    y = y_train.iloc[r]
        
    for j in range(len(parameters)):
        gradients[j] = "..."
        
    return "..."

In [ ]:
gradients_sgd = get_gradients_sgd(X_train, y_train, parameters)
gradients_sgd

## Update Parameters

In [ ]:
def update_parameters(parameters, gradients, learning_rate) :
    for i in range(len(parameters)) :
        gradients[i] *= "..."
    parameters -= "..."
    return "..."

In [ ]:
update_parameters(parameters, gradients_bgd, 0.01)

## Gradient Descent  

위에서 작성한 함수들을 조합해서 Gradient Descent를 진행하는 함수를 완성해주세요

learning_rate = "..."  
max_iter = "..."  
tolerance = "..."

In [ ]:
def gradient_descent(X_train, y_train, learning_rate=0.01, max_iter=100000, tolerance=0.0001, optimizer="bgd") :
    count = 1
    point = 100 if optimizer == "bgd" else 10000
    N = len(X_train.iloc[0])
    parameters = np.array([random.random() for i in range(N)])
    gradients = [0 for i in range(N)]
    loss = "..."
    
    while count < max_iter :
        
        if optimizer == "bgd" :
            gradients = "..."
        elif optimizer == "sgd" :
            gradients = "..."
            # loss, 중단 확인
        if count%point == 0 :
            new_loss = "..."
            print(count, "loss: ",new_loss, "params: ", parameters, "gradients: ", gradients)
            
            #중단 조건
            if abs(new_loss-loss) < "..."/len(y_train) :
                break
            loss = new_loss
                
            
                
        parameters = "..."
        count += 1
    return "..."

In [ ]:
new_param_bgd = gradient_descent(X_train, y_train)
new_param_bgd

## Hyper Parameter Tuning

Hyper Parameter들을 매번 다르게 해서 학습을 진행해 보세요. 다른 점들을 발견할 수 있습니다.

In [ ]:
new_param_sgd = gradient_descent(X_train, y_train, learning_rate=0.01, max_iter=100000, tolerance=0.0001, optimizer="sgd")
new_param_sgd

## Predict Label

In [ ]:
y_predict = []
for i in range(len(y_test)):
    p = logistic(X_test.iloc[i,:], new_param_bgd)
    if p> 0.5 :
        y_predict.append(1)
    else :
        y_predict.append(0)

## Confusion Matrix

In [ ]:
from sklearn.metrics import *
tn, fp, fn, tp = confusion_matrix(y_test, y_predict).ravel()
confusion_matrix(y_test, y_predict)